# Task 3 - Feature Engineering

**Overview:**  
This notebook is dedicated to the feature engineering phase of building a credit scoring model for Bati Bankâ€™s Buy-Now-Pay-Later (BNPL) service. Feature engineering is a crucial step in transforming raw data into meaningful inputs that enhance model performance. The notebook walks through the process of creating new features, handling missing values, and preparing the dataset for further modeling.

**Contents:**

1. **Create Aggregate Features:**  
   Summarizing transactional data to generate higher-level insights at the customer level, providing a more comprehensive view of customer behavior.

2. **Extract Features:**  
   Deriving additional information from existing data, such as time-based patterns, to better understand customer transaction habits and identify trends.

3. **Encode Categorical Variables:**  
   Transforming categorical variables into numerical representations to make them suitable for machine learning models.

4. **Handle Missing Values:**  
   Applying strategies to manage missing data, ensuring that gaps in the dataset do not negatively impact model performance.

5. **Normalize/Standardize Numerical Features:**  
   Scaling numerical features to ensure consistency across the dataset, allowing the model to perform optimally during training.

---

This notebook provides a detailed explanation and step-by-step code implementations for these tasks, with visualizations included to aid in understanding the effects of feature engineering on the data. The ultimate goal is to prepare the dataset in a way that maximizes the accuracy and reliability of the credit scoring model.

# Importing Libaries

In [1]:
import pandas as pd
import sys
import os
sys.path.append(os.path.abspath(os.path.join(os.getcwd(), '../scripts')))

In [2]:
from feature_engineering import *

* Loading The Dataset

In [3]:
df = pd.read_csv('../data/data.csv')

# Creating Aggregate Features

In [5]:
agg_features = AggregateFeatures(df)

Total Transaction Amount: Sum of all transaction amounts for each customer.

In [6]:
agg_features.sum_all_transactions()

Average Transaction Amount: Average transaction amount per customer.

In [7]:
agg_features.average_transaction_amount()

Transaction Count: Number of transactions per customer.

In [8]:
agg_features.transaction_count()

Standard Deviation of Transaction Amounts: Variability of transaction amounts per customer.

In [9]:
agg_features.standard_deviation_amount()

## Result after Aggregation

In [10]:
agg_df = agg_features.get_dataframe()
agg_df.head()

,TransactionId,BatchId,AccountId,SubscriptionId,CustomerId,CurrencyCode,CountryCode,ProviderId,ProductId,ProductCategory,ChannelId,Amount,Value,TransactionStartTime,PricingStrategy,FraudResult,TotalTransactionAmount,AverageTransactionAmount,TotalTransactions,StdTransactionAmount
0,TransactionId_76871,BatchId_36123,AccountId_3957,SubscriptionId_887,CustomerId_4406,UGX,256,ProviderId_6,ProductId_10,airtime,ChannelId_3,1000.0,1000,2018-11-15T02:18:49Z,2,0,109921.75,923.712185,119,3042.294251
1,TransactionId_73770,BatchId_15642,AccountId_4841,SubscriptionId_3829,CustomerId_4406,UGX,256,ProviderId_4,ProductId_6,financial_services,ChannelId_2,-20.0,20,2018-11-15T02:19:08Z,2,0,109921.75,923.712185,119,3042.294251
2,TransactionId_26203,BatchId_53941,AccountId_4229,SubscriptionId_222,CustomerId_4683,UGX,256,ProviderId_6,ProductId_1,airtime,ChannelId_3,500.0,500,2018-11-15T02:44:21Z,2,0,1000.00,500.000000,2,0.000000
3,TransactionId_380,BatchId_102363,AccountId_648,SubscriptionId_2185,CustomerId_988,UGX,256,ProviderId_1,ProductId_21,utility_bill,ChannelId_3,20000.0,21800,2018-11-15T03:32:55Z,2,0,228727.20,6019.136842,38,17169.241610
4,TransactionId_28195,BatchId_38780,AccountId_4841,SubscriptionId_3829,CustomerId_988,UGX,256,ProviderId_4,ProductId_6,financial_services,ChannelId_2,-644.0,644,2018-11-15T03:34:21Z,2,0,228727.20,6019.136842,38,17169.241610

# Extracting Features

In [11]:
extracted_features = Extracting_features(agg_df)

Transaction Hour: The hour of the day when the transaction occurred.

In [12]:
extracted_features.transaction_hour()

Transaction Day: The day of the month when the transaction occurred.

In [13]:
extracted_features.transaction_day()

Transaction Month: The month when the transaction occurred.

In [14]:
extracted_features.transaction_month()

Transaction Year: The year when the transaction occurred.

In [15]:
extracted_features.transaction_year()

# Result of the date feature extraction

In [16]:
extracted_features.get_dataframe()

,TransactionId,BatchId,AccountId,SubscriptionId,CustomerId,CurrencyCode,CountryCode,ProviderId,ProductId,ProductCategory,...,PricingStrategy,FraudResult,TotalTransactionAmount,AverageTransactionAmount,TotalTransactions,StdTransactionAmount,TransactionHour,TransactionDay,TransactionMonth,TransactionYear
0,TransactionId_76871,BatchId_36123,AccountId_3957,SubscriptionId_887,CustomerId_4406,UGX,256,ProviderId_6,ProductId_10,airtime,...,2,0,109921.75,923.712185,119,3042.294251,2,15,11,2018
1,TransactionId_73770,BatchId_15642,AccountId_4841,SubscriptionId_3829,CustomerId_4406,UGX,256,ProviderId_4,ProductId_6,financial_services,...,2,0,109921.75,923.712185,119,3042.294251,2,15,11,2018
2,TransactionId_26203,BatchId_53941,AccountId_4229,SubscriptionId_222,CustomerId_4683,UGX,256,ProviderId_6,ProductId_1,airtime,...,2,0,1000.00,500.000000,2,0.000000,2,15,11,2018
3,TransactionId_380,BatchId_102363,AccountId_648,SubscriptionId_2185,CustomerId_988,UGX,256,ProviderId_1,ProductId_21,utility_bill,...,2,0,228727.20,6019.136842,38,17169.241610,3,15,11,2018
4,TransactionId_28195,BatchId_38780,AccountId_4841,SubscriptionId_3829,CustomerId_988,UGX,256,ProviderId_4,ProductId_6,financial_services,...,2,0,228727.20,6019.136842,38,17169.241610,3,15,11,2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95657,TransactionId_89881,BatchId_96668,AccountId_4841,SubscriptionId_3829,CustomerId_3078,UGX,256,ProviderId_4,ProductId_6,financial_services,...,2,0,2438140.00,4255.043630,573,22554.029939,9,13,2,2019
95658,TransactionId_91597,BatchId_3503,AccountId_3439,SubscriptionId_2643,CustomerId_3874,UGX,256,ProviderId_6,ProductId_10,airtime,...,2,0,58499.60,1360.455814,43,2274.756582,9,13,2,2019
95659,TransactionId_82501,BatchId_118602,AccountId_4841,SubscriptionId_3829,CustomerId_3874,UGX,256,ProviderId_4,ProductId_6,financial_services,...,2,0,58499.60,1360.455814,43,2274.756582,9,13,2,2019
95660,TransactionId_136354,BatchId_70924,AccountId_1346,SubscriptionId_652,CustomerId_1709,UGX,256,ProviderId_6,ProductId_19,tv,...,2,0,851985.00,1625.925573,524,3207.920536,10,13,2,2019
95661,TransactionId_35670,BatchId_29317,AccountId_4841,SubscriptionId_3829,CustomerId_1709,UGX,256,ProviderId_4,ProductId_6,financial_services,...,2,0,851985.00,1625.925573,524,3207.920536,10,13,2,2019

# Encoding Categorical Variables

Identify columns to exclude, and categorical columns to encode

In [18]:
# Columns to drop
cols_to_drop = ['ProductId', 'BatchId',	'AccountId','ProviderId', 'SubscriptionId', 'Value','CountryCode','CurrencyCode']
# Categorical features
cat_features = ['ProductCategory', 'ChannelId']

agg_df.drop(columns=cols_to_drop, inplace=True)

A copy of the original DataFrame df is made to avoid modifying the original data

In [28]:
df_encoded = agg_df.copy().reset_index()

One-Hot Encoding: Converts categorical values into binary vectors.

In [29]:
df_encoded = pd.get_dummies(df_encoded, columns=cat_features, dtype=int)

Dropping TransactionStartTime column

In [30]:
df_encoded.drop(columns=['TransactionStartTime'], inplace=True)

In [31]:
df_encoded.head()

,index,TransactionId,CustomerId,Amount,PricingStrategy,FraudResult,TotalTransactionAmount,AverageTransactionAmount,TotalTransactions,StdTransactionAmount,...,ProductCategory_movies,ProductCategory_other,ProductCategory_ticket,ProductCategory_transport,ProductCategory_tv,ProductCategory_utility_bill,ChannelId_ChannelId_1,ChannelId_ChannelId_2,ChannelId_ChannelId_3,ChannelId_ChannelId_5
0,0,TransactionId_76871,CustomerId_4406,1000.0,2,0,109921.75,923.712185,119,3042.294251,...,0,0,0,0,0,0,0,0,1,0
1,1,TransactionId_73770,CustomerId_4406,-20.0,2,0,109921.75,923.712185,119,3042.294251,...,0,0,0,0,0,0,0,1,0,0
2,2,TransactionId_26203,CustomerId_4683,500.0,2,0,1000.00,500.000000,2,0.000000,...,0,0,0,0,0,0,0,0,1,0
3,3,TransactionId_380,CustomerId_988,20000.0,2,0,228727.20,6019.136842,38,17169.241610,...,0,0,0,0,0,1,0,0,1,0
4,4,TransactionId_28195,CustomerId_988,-644.0,2,0,228727.20,6019.136842,38,17169.241610,...,0,0,0,0,0,0,0,1,0,0

# Handling Missing Values


    Imputation: Fill missing values using methods like mean, median, mode, or KNN imputation.
    Removal: Remove rows or columns with missing values if they are few.

In [32]:
df_encoded.isnull().sum()

index                                   0
TransactionId                           0
CustomerId                              0
Amount                                  0
PricingStrategy                         0
FraudResult                             0
TotalTransactionAmount                  0
AverageTransactionAmount                0
TotalTransactions                       0
StdTransactionAmount                  712
TransactionHour                         0
TransactionDay                          0
TransactionMonth                        0
TransactionYear                         0
ProductCategory_airtime                 0
ProductCategory_data_bundles            0
ProductCategory_financial_services      0
ProductCategory_movies                  0
ProductCategory_other                   0
ProductCategory_ticket                  0
ProductCategory_transport               0
ProductCategory_tv                      0
ProductCategory_utility_bill            0
ChannelId_ChannelId_1                   0
ChannelId_ChannelId_2                   0
ChannelId_ChannelId_3                   0
ChannelId_ChannelId_5                   0
dtype: int64

Filling StdTransactionAmount missing values with median

In [34]:
df_encoded['StdTransactionAmount'] = df_encoded['StdTransactionAmount'].fillna(df_encoded['StdTransactionAmount'].median())

# Normalizing/Standardizing Numerical Features

Normalization: Scales the data to a range of [0, 1].

Standardization: Scales the data to have a mean of 0 and a standard deviation of 1.

In [35]:
columns_to_normalize= ['TotalTransactionAmount', 'AverageTransactionAmount']
columns_to_standardize = ['TotalTransactions', 'StdTransactionAmount']

Normaliation

In [36]:
normalize_numerical_features(df_encoded, columns_to_normalize, method = 'normalize')

,index,CustomerId,Amount,PricingStrategy,FraudResult,TotalTransactionAmount,AverageTransactionAmount,TotalTransactions,StdTransactionAmount,TransactionHour,...,ProductCategory_movies,ProductCategory_other,ProductCategory_ticket,ProductCategory_transport,ProductCategory_tv,ProductCategory_utility_bill,ChannelId_ChannelId_1,ChannelId_ChannelId_2,ChannelId_ChannelId_3,ChannelId_ChannelId_5
TransactionId,,,,,,,,,,,,,,,,,,,,,
TransactionId_76871,0,CustomerId_4406,1000.0,2,0,0.557522,0.047184,119,3042.294251,2,...,0,0,0,0,0,0,0,0,1,0
TransactionId_73770,1,CustomerId_4406,-20.0,2,0,0.557522,0.047184,119,3042.294251,2,...,0,0,0,0,0,0,0,1,0,0
TransactionId_26203,2,CustomerId_4683,500.0,2,0,0.556944,0.047137,2,0.000000,2,...,0,0,0,0,0,0,0,0,1,0
TransactionId_380,3,CustomerId_988,20000.0,2,0,0.558153,0.047749,38,17169.241610,3,...,0,0,0,0,0,1,0,0,1,0
TransactionId_28195,4,CustomerId_988,-644.0,2,0,0.558153,0.047749,38,17169.241610,3,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
TransactionId_89881,95657,CustomerId_3078,-1000.0,2,0,0.569883,0.047553,573,22554.029939,9,...,0,0,0,0,0,0,0,1,0,0
TransactionId_91597,95658,CustomerId_3874,1000.0,2,0,0.557249,0.047233,43,2274.756582,9,...,0,0,0,0,0,0,0,0,1,0
TransactionId_82501,95659,CustomerId_3874,-20.0,2,0,0.557249,0.047233,43,2274.756582,9,...,0,0,0,0,0,0,0,1,0,0
TransactionId_136354,95660,CustomerId_1709,3000.0,2,0,0.561462,0.047262,524,3207.920536,10,...,0,0,0,0,1,0,0,0,1,0
TransactionId_35670,95661,CustomerId_1709,-60.0,2,0,0.561462,0.047262,524,3207.920536,10,...,0,0,0,0,0,0,0,1,0,0

Standardizing

In [38]:
def standardize_columns(df, columns):
    scaler = StandardScaler()
    df[columns] = scaler.fit_transform(df[columns])
    return df

df_encoded = standardize_columns(df_encoded, columns_to_standardize)

In [39]:
df_encoded.head()

,index,CustomerId,Amount,PricingStrategy,FraudResult,TotalTransactionAmount,AverageTransactionAmount,TotalTransactions,StdTransactionAmount,TransactionHour,...,ProductCategory_movies,ProductCategory_other,ProductCategory_ticket,ProductCategory_transport,ProductCategory_tv,ProductCategory_utility_bill,ChannelId_ChannelId_1,ChannelId_ChannelId_2,ChannelId_ChannelId_3,ChannelId_ChannelId_5
TransactionId,,,,,,,,,,,,,,,,,,,,,
TransactionId_76871,0,CustomerId_4406,1000.0,2,0,0.557522,0.047184,-0.311831,-0.167524,2,...,0,0,0,0,0,0,0,0,1,0
TransactionId_73770,1,CustomerId_4406,-20.0,2,0,0.557522,0.047184,-0.311831,-0.167524,2,...,0,0,0,0,0,0,0,1,0,0
TransactionId_26203,2,CustomerId_4683,500.0,2,0,0.556944,0.047137,-0.444993,-0.201719,2,...,0,0,0,0,0,0,0,0,1,0
TransactionId_380,3,CustomerId_988,20000.0,2,0,0.558153,0.047749,-0.404020,-0.008737,3,...,0,0,0,0,0,1,0,0,1,0
TransactionId_28195,4,CustomerId_988,-644.0,2,0,0.558153,0.047749,-0.404020,-0.008737,3,...,0,0,0,0,0,0,0,1,0,0

Saving the data to a new csv file

In [40]:
df_encoded.to_csv('../data/processed_data.csv', index=False)